@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.select-card {
  height: 420px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 40px 30px;
  cursor: pointer;

  @media (width < vars.$media-1920) {
    height: 344px;
  }

  @media (width < vars.$media-768) {
    padding: 15px;
    height: 300px;
  }

  @media (width < vars.$media-420) {
    height: 220px;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    @include mixins.position-fill(absolute);
    object-fit: cover;
    border-radius: 30px;

    transition: vars.$duration transform vars.$timing;
  }

  &__wrap {
    color: var(--white);
    margin-top: auto;
    z-index: vars.$z-index-interactive;
  }

  &__title {
    @include mixins.H1-medium;
    @include mixins.crop-height(3);
    max-width: 670px;

    @media (width < vars.$media-1280) {
      @include mixins.Body-light-20;
      font-weight: 600;
      max-width: 100%;
    }


    @media (width < vars.$media-420) {
      font-family: "Geologica", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
    }
  }

  &__date {
    @include mixins.Body-light-16;

    margin-top: 15px;

    @media (width < vars.$media-768) {
      @include mixins.Body-light-14;

      margin-top: 10px;
    }

    @media (width < vars.$media-420) {
      @include mixins.mobBody-light-9;
    }
  }

  &--big {
    height: 570px;

    @media (width < vars.$media-1280) {
      height: 420px;
    }

    @media (width < vars.$media-768) {
      height: 344px;
      padding: 15px;
    }

    @media (width < vars.$media-420) {
      height: 220px;
    }
  }

  &--small {
    min-height: 270px;
    height: 100%;
    padding: 15px;

    .select-card__title {
      @include mixins.H2-medium;
    }

    .select-card__date {
      @include mixins.Body-light-14;
    }
  }
}
