@use '@/styles/mixins/mixins';
@use '@/styles/vars/vars';

.random-users {
  padding-bottom: 96px;

  @media (width < vars.$media-768) {
    padding-bottom: 40px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--grid-gap);

    @media (width < vars.$media-1920) {
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    }

    @media (width < vars.$media-768) {
      grid-template-columns: repeat(auto-fit, minmax(102px, 1fr));

      .random-users__card:nth-child(n + 7) {
        display: none;
      }
    }

    @media (width < vars.$media-420) {
      grid-template-columns: repeat(auto-fit, minmax(83px, 1fr));
    }

    &--show {
      .random-users__card:nth-child(n + 29) {
        display: none;
      }

      &[active] {
        .random-users__card:nth-child(n + 29) {
          display: flex;
        }

        .random-users__button {
          display: none !important;
        }
      }
    }
  }

  &__card {
    @include mixins.Body-light-20;
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: vars.$duration background-color vars.$timing;

    @media (width < vars.$media-768) {
      @include mixins.Body-light-14;
      padding: 0;
      gap: 10px;
    }

    @media (width < vars.$media-420) {
      @include mixins.mobBody-light-12;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #f7f7ff;
      }
    }

    &:active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__wrap {
    overflow: hidden;
    border-radius: 5px;
    width: 114px;
    height: 114px;

    @media (width < vars.$media-768) {
      width: 80px;
      height: 80px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__button {
    width: max-content;
    margin-inline: auto;
    margin-top: var(--padding-section);
  }

  &__profile {
    margin-top: 40px;
  }

  &--white {
    background-color: var(--white);
    padding-top: 0;
  }
}
